<launch>
  <arg name="gui" default="false" />
  <arg name="MANAGER" value="color_filter_nodelet_manager" />
  <arg name="INPUT_LEFT_IMAGE" default="/pointgrey/left/image_rect_color" />
  <arg name="INPUT_RIGHT_IMAGE" default="/pointgrey/right/image_rect_color" />
  <!-- <arg name="INPUT_CAMERA_INFO" default="/camera_remote/rgb/camera_info" /> -->

  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet"
        args="manager" />

  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="left_hsv_color_filter" />
    <arg name="image" value="$(arg INPUT_LEFT_IMAGE)" />
    <arg name="h_limit_max" value="29" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="3" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="255" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="126" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="256" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="78" doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <node name="left_erode_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ErodeMaskImage $(arg MANAGER)">
    <remap from="~input" to="left_hsv_color_filter/image" />
    <rosparam>
      method: 0
      size: 3
    </rosparam>
  </node>

  <node name="left_dilate_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/DilateMaskImage $(arg MANAGER)">
    <remap from="~input" to="left_erode_mask_image/output" />
    <rosparam>
      method: 0
      size: 3
    </rosparam>
  </node>

  <node name="left_opencv_centroid" pkg="opencv_apps" type="contour_moments" output="screen">
    <remap from="image" to="left_dilate_mask_image/output" />
    <param name="debug_view" value="false" />
    <param name="use_camera_info" value="false" />
  </node>

  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="right_hsv_color_filter" />
    <arg name="image" value="$(arg INPUT_RIGHT_IMAGE)" />
    <arg name="h_limit_max" value="29" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="3" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="255" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="126" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="256" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="78" doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <node name="right_erode_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ErodeMaskImage $(arg MANAGER)">
    <remap from="~input" to="right_hsv_color_filter/image" />
    <rosparam>
      method: 0
      size: 3
    </rosparam>
  </node>

  <node name="right_dilate_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/DilateMaskImage $(arg MANAGER)">
    <remap from="~input" to="right_erode_mask_image/output" />
    <rosparam>
      method: 0
      size: 3
    </rosparam>
  </node>

  <node name="right_opencv_centroid" pkg="opencv_apps" type="contour_moments" output="screen">
    <remap from="image" to="right_dilate_mask_image/output" />
    <param name="debug_view" value="false" />
    <param name="use_camera_info" value="false" />
  </node>

  <group if="$(arg gui)">
    <node name="image_view_hsv0"
          pkg="image_view2" type="image_view2">
      <remap from="image" to="left_hsv_color_filter/image" />
      <remap from="image_marker" to="left_image/image_marker" />
    </node>
    <node name="image_view2"
          pkg="image_view2" type="image_view2">
      <remap from="image" to="left_dilate_mask_image/output" />
      <remap from="image_marker" to="left_image/image_marker" />
    </node>
    <node name="image_view_hsv_right"
          pkg="image_view2" type="image_view2">
      <remap from="image" to="right_hsv_color_filter/image" />
      <remap from="image_marker" to="right_image/image_marker" />
    </node>
    <node name="image_view_erode_mask_right"
          pkg="image_view2" type="image_view2">
      <remap from="image" to="right_dilate_mask_image/output" />
      <remap from="image_marker" to="right_image/image_marker" />
    </node>
  </group>

</launch>
