<launch>
  <arg name="gui" default="true" />

  <group ns="pointgrey">
    <include file="$(find pointgrey_camera_driver)/launch/camera.launch">
      <arg name="camera_name" value="left" />
      <arg name="camera_serial" value="14160053" />
    </include>

    <include file="$(find pointgrey_camera_driver)/launch/camera.launch">
      <arg name="camera_name" value="right" />
      <arg name="camera_serial" value="14160044" />
    </include>

    <nnode pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" >
      <param name="~approximate_sync" value="true" />
      <param name="~correlation_window_size" value="25" />
      <param name="~disparity_range" value="32" />
    </nnode>
    <node pkg="nodelet" type="nodelet" name="left_image_rect" ns="left"
          args="load image_proc/rectify camera_nodelet_manager">
    </node>
    <node pkg="nodelet" type="nodelet" name="left_image_rect_color" ns="left"
          args="load image_proc/rectify camera_nodelet_manager">
      <remap from="image_mono" to="image_color" />
      <remap from="image_rect" to="image_rect_color" />
    </node>
    <node pkg="nodelet" type="nodelet" name="right_image_rect" ns="right"
          args="load image_proc/rectify camera_nodelet_manager">
    </node>
    <node pkg="nodelet" type="nodelet" name="right_image_rect_color" ns="right"
          args="load image_proc/rectify camera_nodelet_manager">
      <remap from="image_mono" to="image_color" />
      <remap from="image_rect" to="image_rect_color" />
    </node>
  </group>

  <group if="$(arg gui)" >
    <node name="left_image" pkg="image_view" type="image_view" >
      <remap from="image" to="pointgrey/left/image_color" />
    </node>
    <node name="right_image" pkg="image_view" type="image_view" >
      <remap from="image" to="pointgrey/right/image_color" />
    </node>
  </group>

  <!-- <node pkg="rviz" type="rviz" name="rviz_stereo" -->
  <!--       args="-d $(find pointgrey_stereo_driver)/config/stereo.rviz" /> -->

</launch>
