<launch>
  <arg name="gui" default="true" />

  <group ns="pointgrey">
    <include file="$(find pointgrey_camera_driver)/launch/camera.launch">
      <arg name="camera_name" value="left" />
      <arg name="camera_serial" value="14160053" />
    </include>

    <include file="$(find pointgrey_camera_driver)/launch/camera.launch">
      <arg name="camera_name" value="right" />
      <arg name="camera_serial" value="14160044" />
    </include>

    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" >
      <!-- <remap from="left/image_raw" to="/left_camera/camera/image_raw" /> -->
      <!-- <remap from="left/camera_info" to="/left_camera/camera/camera_info" /> -->
      <!-- <remap from="right/image_raw" to="/right_camera/camera/image_raw" /> -->
      <!-- <remap from="right/camera_info" to="/right_camera/camera/camera_info" /> -->
      <param name="~approximate_sync" value="true" />
      <param name="~correlation_window_size" value="25" />
      <param name="~disparity_range" value="32" />
    </node>
  </group>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.150 0.054 0.260 0.5 -0.5 0.5 -0.5 HEAD_LINK1 left 100" />

  <group if="$(arg gui)" >
    <node name="left_image" pkg="image_view" type="image_view" >
      <remap from="image" to="pointgrey/left/image_color" />
    </node>
    <node name="right_image" pkg="image_view" type="image_view" >
      <remap from="image" to="pointgrey/right/image_color" />
    </node>
  </group>

  <!-- <node pkg="rviz" type="rviz" name="rviz_stereo" -->
  <!--       args="-d $(find pointgrey_stereo_driver)/config/stereo.rviz" /> -->

</launch>
