<launch>
  <!-- master -->

  <arg name="MANAGER" value="color_filter_nodelet_manager" />

  <node name="$(arg MANAGER)"
       pkg="nodelet" type="nodelet"
       args="manager" />

  <group ns="left_camera">

    <include file="$(find pointgrey_camera_driver)/launch/camera.launch">
      <arg name="camera_serial" value="14160053" />
    </include>

    <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
      <arg name="image" value="/camera/image_raw" /><!-- ayasii -->
      <arg name="h_limit_max" value="360" doc="The maximum allowed field value Hue" />
      <arg name="h_limit_min" value="280" doc="The minimum allowed field value Hue" />
      <arg name="s_limit_max" value="255" doc="The maximum allowed field value Saturation" />
      <arg name="s_limit_min" value="128" doc="The minimum allowed field value Saturation" />
      <arg name="v_limit_max" value="255" doc="The maximum allowed field value Value" />
      <arg name="v_limit_min" value="180" doc="The minimum allowed field value Value" />
    </include>

    <node name="erode_mask_image"
          pkg="nodelet" type="nodelet"
          args="load jsk_perception/ErodeMaskImage $(arg MANAGER)">
      <remap from="~input" to="hsv_color_filter/image" />
      <rosparam>
        method: 0
        size: 5
      </rosparam>
    </node>

    <node name="left_image" pkg="image_view" type="image_view" >
      <remap from="image" to="/left_camera/camera/image_raw" />
    </node>

  </group>

  <group ns="right_camera">

    <include file="$(find pointgrey_camera_driver)/launch/camera.launch">
      <arg name="camera_serial" value="14160044" />
    </include>

    <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
      <arg name="image" value="/camera/image_raw" /><!-- ayasii -->
      <arg name="h_limit_max" value="360" doc="The maximum allowed field value Hue" />
      <arg name="h_limit_min" value="280" doc="The minimum allowed field value Hue" />
      <arg name="s_limit_max" value="255" doc="The maximum allowed field value Saturation" />
      <arg name="s_limit_min" value="128" doc="The minimum allowed field value Saturation" />
      <arg name="v_limit_max" value="255" doc="The maximum allowed field value Value" />
      <arg name="v_limit_min" value="180" doc="The minimum allowed field value Value" />
    </include>

    <node name="erode_mask_image"
          pkg="nodelet" type="nodelet"
          args="load jsk_perception/ErodeMaskImage $(arg MANAGER)">
      <remap from="~input" to="hsv_color_filter/image" />
      <rosparam>
        method: 0
        size: 5
      </rosparam>
    </node>

    <node name="right_image" pkg="image_view" type="image_view" >
      <remap from="image" to="/right_camera/camera/image_raw" />
    </node>
  </group>

  <!-- <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" > -->
  <!--   <remap from="left/image_raw" to="/left_camera/camera/image_raw" /> -->
  <!--   <remap from="left/camera_info" to="/left_camera/camera/camera_info" /> -->
  <!--   <remap from="right/image_raw" to="/right_camera/camera/image_raw" /> -->
  <!--   <remap from="right/camera_info" to="/right_camera/camera/camera_info" /> -->
  <!--   <param name="~approximate_sync" value="true" /> -->
  <!--   <param name="~correlation_window_size" value="25" /> -->
  <!--   <param name="~disparity_range" value="128" /> -->
  <!-- </node> -->

  <!-- <node pkg="rviz" type="rviz" name="rviz_stereo" -->
  <!--       args="-d $(find pointgrey_stereo_driver)/config/stereo.rviz" /> -->

  <arg name="gui" default="true" />
  <arg name="MANAGER" value="color_filter_nodelet_manager" />
  <arg name="INPUT_CLOUD" default="/camera_remote/depth_registered/points" />
  <arg name="INPUT_CAMERA_INFO" default="/camera_remote/rgb/camera_info" />

  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="image" value="/camera_remote/rgb/image_rect_color" />
    <arg name="h_limit_max" value="360" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="280" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="255" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="128" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="255" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="180" doc="The minimum allowed field value Value" />
  </include>

  <node name="$(arg MANAGER)"
       pkg="nodelet" type="nodelet"
       args="manager" />

  <node name="erode_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ErodeMaskImage $(arg MANAGER)">
    <remap from="~input" to="hsv_color_filter/image" />
    <rosparam>
      method: 0
      size: 5
    </rosparam>
  </node>



</launch>
